*{
    padding:0;
    margin:0;
    border:0;
}
.chart{
    margin-left: 16px;
    position: relative;
    height: 10px;
    border-bottom: 1px solid blue;
}
.line{
    background-color: green;
    min-height:1px;
    width:1px;
    position: absolute;
}
.line.fatal10{
    background-color: red;
    border: 1px solid black;
}
.line.fatal6{
    background-color: #d00;
}
.line.fatal3{
    background-color: #ea550e;
}
.line.fatal1{
    background-color: orange;    
}